.row {
  @include clearfix();
}

[class*='column_'] {
  float: left;
  padding-right: $gutter * 2;
  margin-bottom: $gutter * 2;
  .row &:last-of-type {
    padding-right: 0;
  }
}

$column_count: 12;
$column_width: 100% / $column_count;

@for $i from 1 through $column_count {
  .column_#{$i} {
    width: $column_width * $i;
  }
}

@media only screen and (max-width: $breakpoint) {
  [class*='column_']:not(.fixed) {
    float: none;
    padding: 0;
  }

  @for $i from 1 through $column_count {
    .column_#{$i}:not(.fixed) {
      width: auto;
    }
  }
}
