// Setpoint & temperature table and containers
& .setpoint_temperature_table {
  width: 100%;
  margin: ($gutter * 4) 0 ($gutter * 4) 0;
  table-layout: fixed;
}

& .temperature_td {
  width: 200px;
}

& .setpoint_outer_container {
  // border: 1px solid red;
  text-align: center;
  margin: auto;
}

$thermostat_setpoint_width: 50px;
& .setpoint_inner_container {
  // border: 1px solid blue;
  display: inline-block;
  width: $thermostat_setpoint_width;
  // transition: width 200ms;
}

& .setpoint_inner_container.instant_width_transition_opacity {
  transition: opacity 200ms ease;
}
& .setpoint_inner_container.transition_width_transition_opacity {
  transition: width 200ms ease, opacity 100ms ease;
}

& .double_width {
  width: $thermostat_setpoint_width * 2;
}

& .no_width {
  width: 0;
}

& .temperature {
  margin: auto;
}

& .transparent {
  opacity: 0;
}

// & .opaque {
//   opacity: 1;
// }

// Thermostat mode on right
& .mode {
  position: absolute;
  top: $gutter;
  right: 0;
}

// Footer contents
& .footer {
  background: $light_clouds;
  padding: $gutter;
}

& .footer table {
  width: 100%;
}

& .footer .weather, & .footer .history {
  width: 100px;
}
