$thermostat_setpoint_width: 50px;

// Setpoint & temperature table and containers
& .setpoint_temperature_table {
  width: 100%;
  margin: ($gutter * 4) 0 ($gutter * 4) 0;
  table-layout: fixed;
}
& .temperature_td {
  width: 200px;
}

// Setpoint containers
& .setpoint_outer_container {
  text-align: center;
  margin: auto;
}
& .setpoint_inner_container {
  display: inline-block;
  width: $thermostat_setpoint_width;
}

// Transition classes in order to sometimes instantly set the width and
// sometimes transition the width, depending on what the effect needs to look
// like
& .setpoint_inner_container.instant_width_transition_opacity {
  transition: opacity 200ms ease;
}
& .setpoint_inner_container.transition_width_transition_opacity {
  transition: width 200ms ease, opacity 100ms ease;
}

// Transition to double width if showing a single setpoint, and no width when
// removing one.
& .setpoint_inner_container.double_width {
  width: $thermostat_setpoint_width * 2;
}
& .setpoint_inner_container.no_width {
  width: 0;
}

// For when a setpoint component is hidden
& .setpoint_inner_container.transparent {
  opacity: 0;
}

// Thermostat mode on right
& .mode {
  position: absolute;
  top: $gutter;
  right: 0;
}

// Footer contents
& .footer {
  background: $light_clouds;
  padding: $gutter;
}

& .footer table {
  width: 100%;
}

& .footer .weather, & .footer .history {
  width: 100px;
}
